.sidebar {
  width: 100%;
  max-width: 200px;
  margin-right: 20px;
  padding: 30px 10px;
  background: #4A67FF;
  border-radius: 8px;
}

.list {
  padding: 10px 20px;
}

.list a {
  color: #fff;
}

.list a.active {
  color: red;
}