.posts input {
  padding: 10px 20px;
}

.posts button {
  padding: 10px 20px;
}
.title{
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 700;
}
.form {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

.form button {
  position: absolute;
  right: 0;
  bottom: 0px;
  border: none;
  outline: none;
  cursor: pointer;
}

.form textarea {
  width: 100%;
  display: block;
  padding: 20px;
  border: none;
  outline: none;
}

